<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />

    <!-- meta - name -->
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="#fff" name="theme-color" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />

  </head>

  <body>
    <noscript>
      If you're seeing this message, that means
      <strong>JavaScript has been disabled on your browser</strong>, please
      <strong>enable JS</strong> to make this app work.
    </noscript>
    <div id="react-root"></div>
  </body>
</html>
